#root {
    height: 100%;
}

.App {
    color: #4F4350;
    text-align: center;
    display: flex;
    height: 100%;
    width: 100vw;
    /*background-color: #222222;*/
    /*background-color: #121212;*/
    /*background-color: white;*/
    background-color: #F9FBFD;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}