#root {
    height: 100%;
}

.App {
    color: white;
    text-align: center;
    display: flex;
    height: 100%;
    width: 100vw;
    /*background-color: #222222;*/
    background-color: #121212;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}